
@{
    ViewBag.Title = "IndexUser";
}

<h2>Вы зашли как Пользователь!</h2>

<div>
    @Html.ActionLink("Альбомы", "UserIndex", "Альбомы")
</div>
<div>
    @Html.ActionLink("Исполнитель", "UserIndex", "Исполнитель")
</div>
<div>
    @Html.ActionLink("Песни", "UserIndex", "Песни")
</div>
<div>
    @Html.ActionLink("Сотрудники", "UserIndex", "Сотрудники")
</div>