
@{
    ViewBag.Title = "Гость";
}

<h2>Вы зашли как Гость!</h2>

<div>
    @Html.ActionLink("Альбомы", "GuestIndex", "Альбомы")
</div>
<div>
    @Html.ActionLink("Исполнитель", "GuestIndex", "Исполнитель")
</div>
<div>
    @Html.ActionLink("Песни", "GuestIndex", "Песни")
</div>